VITE_APP_TITLE=Main Sequence
VITE_APP_DESCRIPTION=Main Sequence brings the power of data, automation, and artificial intelligence into a unified workbench. From controlled and standardized development workflows to no-code dashboards and application builders for non-technical users, Main Sequence reshapes how the enterprise works and operates.
VITE_APP_URL=
VITE_APP_OG_IMAGE_PATH=/mainsequence-logo.png
VITE_USE_MOCK_DATA=true
VITE_BYPASS_AUTH=false
VITE_COMMAND_CENTER_DEV_LOGIN_IDENTIFIER=
VITE_COMMAND_CENTER_DEV_LOGIN_PASSWORD=
VITE_DEBUG_CHAT=false
VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_DEBUG_MAIN_SEQUENCE=http://127.0.0.1:8021
VITE_GOOGLE_TAG_ID=
VITE_ASSISTANT_UI_ENDPOINT=/__assistant__
VITE_ASSISTANT_UI_PROXY_TARGET=http://192.168.1.253:8787
VITE_INCLUDE_AUI=true
VITE_INCLUDE_WORKSPACES=true
